@import url(//fonts.googleapis.com/css?family=Ropa+Sans);

.post-page-container {
    background-color: #f4f4f4;
    width: 100%;
    height: 100vh;
    font-family: 'Ropa Sans', sans-serif;
}

.post-container{
    display: flex;
    flex-direction: column;
    background-color: #FDCA40;
    margin: 30px;
}

.content-container{
    background-color: white;
    border: 1px solid #2176FF;
    margin: 15px;
    padding: 15px;
}

.date{
    font-size: 20px;
    color: #56667A;
    text-align: right;
}

.post-title{
    font-size: 48px;
}

.content{
    font-size: 24px;
    color: #56667A;
    margin-top: 15px;
}

.tags-list{
    margin: 0px 15px;
    font-size: 24px;
    padding: 3px 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li{
    display: inline;
    background-color: white;
    margin-right: 15px;
    padding: 3px;
}

.post-interactions {
    margin: 15px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.save-button {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    border: none;
    background-color: white;
    padding: 3px;
    width: 25%;
}

.like-button {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    border: none;
    background-color: white;
    padding: 7px;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comment-button {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 24px;
    border: none;
    background-color: white;
    padding: 7px;
    width: 25%;
}

.comments{
    background-color: #f4f4f4;
    margin: 15px;
    font-size: 24px;
}

#comment{
    margin: 15px;
    border: 1px solid #2176FF;
    background-color: white;
    padding: 10px;
}

.comment-body {
    margin-top: 15px;
}

.old-stuff {
    background-color: gray;
}

.commenter {
    font-weight: bold;
}