.user-posts-container {
    margin: 20px;
    border: 1px solid #2176FF;
    overflow: auto;
    width: 50%;
    background-color: white;
}

.user-posts-title {
    background-color: #FDCA40;
    font-size: 40px;
    text-align: center;
    padding: 3px;
}

.individual-post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: stretch;
    border: 4px;
    border-style: solid;
}