@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

.TextFieldWrapper{
    font-family: 'Ropa Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
    margin-top: 20px;
}


.title{
    font-family: 'Ropa Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 77px;
    text-align: left;
    color: #000000;
}