.TextFieldWrapper{
    font-family: 'Ropa Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 450px;
    margin-top: 20px;
    height: auto;
    color: #56667A;
}

.make-comment-title{
    font-family: 'Ropa Sans', sans-serif;
    font-size: 64px;
}