.thumbnail {
    margin: 15px;
    background-color: white;
    border: 1px solid #2176FF;
    display: flex;
    min-height: 100px;
    padding: 10px 15px;
}

.post-content {
    width: 85%;
    height: 100%;
    padding-right: 10px;
}

.post-title {
    width: 100%;
    font-size: 40px;
}

.post-description {
    margin-top: 10px;
    font-size: 20px;
    color: #56667A;
}

.post-stats {
    width: 15%;
    min-height: 100px;
    padding-left: 10px;
    display: flex;
}

.line {
    border-left: 1px solid #2176FF;
    padding-left: 15px;
}

.stats {
    width: 100%;
    height: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-likes {
    text-align-last: justify;
}

.post-comments {
    text-align-last: justify;
}

.delete {
    color: black;
    display: flex;
    align-self: center;
}

.delete:hover {
    color: #2176FF;
}

.post-stats-conditional {
    min-width: 30%;
    min-height: 100px;
    padding-right: 10px;
    display: flex;
}