@import url(//fonts.googleapis.com/css?family=Ropa+Sans);

.profile-page-container {
    height: 100vh;
    background-color: #f4f4f4;
    width: 100%;
    font-family: 'Ropa Sans', sans-serif;
}

.profile-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile-info-container {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.posts-container {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.old-stuff {
    background-color: gray;
}