.profile-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-container {
    display: flex;
    flex-direction: row;
    height: 30%;
}

.posts-container {
    display: flex;
    flex-direction: row;
    height: 70%;
}